%h1 New Baste
%form{:method => "post"}
  %label{:for => "title", :class => "control-label"} 
    Title
  %input{:type => "text", :name => "title", :class => "input-xlarge"}
  %label{:for => "body", :class => "control-label"}
    Baste
  %textarea{:name => "body"}
  %label
  %button{:type => "submit", :class => "btn-primary"}
    Create