%h1 New Baste
%form{:method => "post"}
  %fieldset
    %ul
      %li
        %label{:for => "title"} Title:
        %input{:type => "text", :name => "title", :class => "text"}
      %li
        %label{:for => "body"} Baste:
        %textarea{:name => "body"}
      %li
        %input{:type => "submit", :value => "Create", :class => "button"}
