:javascript
  $(document).ready(function() {
    $('#datatable').dataTable();
  } );

%h1= @baste.title
= @baste.body
%table{:id => "datatable", :class => 'table'}
  %thead
    %tr
      - @cols.each do |col|
        %th= col.to_str
  %tbody
    - @rows.each do |row|
      %tr
        - row.values.each do |val|     
          %td= val
