%h1= @baste.title

%div
  %pre{:class => "prettyprint lang-sql"}
    =@baste.body

%table{:id => "datatable", :class => "table table-striped table-bordered"}
  %thead
    %tr
      - @cols.each do |col|
        %th= col.to_str
  %tbody
    - @rows.each do |row|
      %tr
        - row.values.each do |val|
          %td= val

:javascript
  $(document).ready(function() {
    prettyPrint();
  } );
