%h1= @baste.title
%div.hero-unit
  =@baste.body
%table{:id => "datatable", :class => "table table-striped table-bordered"}
  %thead
    %tr
      - @cols.each do |col|
        %th= col.to_str
  %tbody
    - @rows.each do |row|
      %tr
        - row.values.each do |val|
          %td= val

:javascript
  $(document).ready(function() {
    $('#datatable').dataTable( {
        "sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>"
    } );
  } );
